/Logs/
obj/
Temp/
Library/
.DS_STORE
*.sln
*.csproj
*.pidb
*.unityproj
*.userprefs
Backups/
Builds/
*.user
*.suo
Packages/
NoGit/
NoGit*
__pycache__
*.sublime-project
*.sublime-workspace
.vscode/launch.json
